n8n/dax-router-current.json
{"updatedAt":"2026-03-18T21:20:44.916Z","createdAt":"2026-03-17T03:38:38.176Z","id":"3tniyxZREqfnAbfo","name":"DAX Router - OpenAI Compatible Endpoint","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"dax/chat/completions","responseMode":"responseNode","options":{}},"id":"239c8918-6c92-4b56-b4a7-30d965423032","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[272,304],"webhookId":"4d239fe4-a8ea-4a56-aace-d3e25bc1688e"},{"parameters":{"jsCode":"const body = $json.body || $json;\nconst messages = body.messages || [];\nconst lastUserMsg = [...messages].reverse().find(m => m.role === 'user');\nlet userText = '';\nlet fileContent = '';\nif (typeof lastUserMsg?.content === 'string') {\n  userText = lastUserMsg.content;\n} else if (Array.isArray(lastUserMsg?.content)) {\n  for (const part of lastUserMsg.content) {\n    if (part.type === 'text') userText += part.text || '';\n    else if (part.type === 'file' || part.type === 'document') fileContent += part.file_data?.content || part.content || part.text || '';\n  }\n}\nconst userTextLower = userText.toLowerCase().trim();\nconst fullText = (userTextLower + ' ' + fileContent).toLowerCase();\n\n// SCHWAB\nconst schwabKeywords = ['schwab','all clients','all client','all reports','all icp','generate all','bulk','multiple clients','from the file','from sharepoint','downloads folder','the file','export file','data file','uploaded file'];\nconst isSchwab = schwabKeywords.some(kw => fullText.includes(kw));\n\n// ICP\nconst icpKeywords = ['generate icp','create icp','icp report','icp review','quarterly review','quarterly report','client review','generate report','create report','build report'];\nconst isICP = !isSchwab && icpKeywords.some(kw => fullText.includes(kw));\nconst hasClientData = fileContent && (fileContent.includes('CLIENT_NAME') || fileContent.includes('ACCOUNT_NUMBER') || fileContent.includes('PORTFOLIO_VALUE') || fileContent.includes('YTD_RETURN'));\n\n// MARKET DATA - ticker/price questions\nconst marketKeywords = ['trading at','stock price','share price','what is aapl','what is msft','what is nvda','what is tsla','what is amzn','what is googl','what is meta','what is spy','what is qqq','what is dia','what is iwm','stock quote','market price','price of','price for','how is the market','market today','market doing','s&p today','nasdaq today','dow today','index today','etf price','bond yield','10 year yield','2 year yield','vix today','vix at','gold price','oil price','bitcoin price'];\nconst hasExplicitTicker = /\\b[A-Z]{2,5}\\b/.test(userText) && (fullText.includes('price') || fullText.includes('trading') || fullText.includes('quote') || fullText.includes('stock') || fullText.includes('ticker') || fullText.includes('at today') || fullText.includes('right now'));\nconst isMarket = !isSchwab && !isICP && (marketKeywords.some(kw => fullText.includes(kw)) || hasExplicitTicker);\n\nlet route = 'GENERAL';\nif (isSchwab) route = 'SCHWAB';\nelse if (isICP || hasClientData) route = 'ICP';\nelse if (isMarket) route = 'MARKET';\n\nconsole.log('Route:', route, '| text:', userTextLower.substring(0,80));\nreturn [{ json: { route, userMessage: lastUserMsg?.content || '', userText: userTextLower || fileContent.substring(0, 500), fileContent, hasFile: fileContent.length > 0, originalBody: body, messages } }];"},"id":"8c11afe7-f333-48e1-9cb6-cc7d615224ab","name":"Route Input","type":"n8n-nodes-base.code","typeVersion":2,"position":[496,304]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $json.route }}","rightValue":"ICP","operator":{"type":"string","operation":"equals"},"id":"611217ae-bbdb-44d8-a519-ce67c946630c"}],"combinator":"and"},"options":{}},"id":"ec184535-6382-4f73-82f7-af31dd7b3dd3","name":"Route Switch","type":"n8n-nodes-base.if","typeVersion":2,"position":[720,200]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $json.route }}","rightValue":"SCHWAB","operator":{"type":"string","operation":"equals"},"id":"schwab-check-001"}],"combinator":"and"},"options":{}},"id":"schwab-if-node-001","name":"Is Schwab?","type":"n8n-nodes-base.if","typeVersion":2,"position":[720,400]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $json.route }}","rightValue":"MARKET","operator":{"type":"string","operation":"equals"},"id":"market-check-001"}],"combinator":"and"},"options":{}},"id":"market-if-node-001","name":"Is Market?","type":"n8n-nodes-base.if","typeVersion":2,"position":[720,600]},{"parameters":{"method":"POST","url":"https://n8n.dakona.net/webhook/market-data","sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={{ JSON.stringify({ question: $('Route Input').first().json.userText }) }}","options":{"timeout":15000}},"id":"call-market-001","name":"Call Market Data","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[960,600]},{"parameters":{"jsCode":"const result = $('Call Market Data').first().json;\nconst content = result.content || 'Unable to retrieve market data right now.';\nconst now = Math.floor(Date.now()/1000);\nconst id = 'chatcmpl-dax-' + now;\nconst c1 = JSON.stringify({ id, object: 'chat.completion.chunk', created: now, model: 'gpt-4o', choices: [{ index: 0, delta: { role: 'assistant', content: '' }, finish_reason: null }] });\nconst c2 = JSON.stringify({ id, object: 'chat.completion.chunk', created: now, model: 'gpt-4o', choices: [{ index: 0, delta: { content }, finish_reason: null }] });\nconst c3 = JSON.stringify({ id, object: 'chat.completion.chunk', created: now, model: 'gpt-4o', choices: [{ index: 0, delta: {}, finish_reason: 'stop' }] });\nreturn [{ json: { sseBody: 'data: ' + c1 + '\\n\\ndata: ' + c2 + '\\n\\ndata: ' + c3 + '\\n\\ndata: [DONE]\\n\\n' } }];"},"id":"format-market-001","name":"Format Market Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[1180,600]},{"parameters":{"respondWith":"text","responseBody":"={{ $json.sseBody }}","options":{"responseCode":200,"responseHeaders":{"entries":[{"name":"Content-Type","value":"text/event-stream"},{"name":"Cache-Control","value":"no-cache"},{"name":"Connection","value":"keep-alive"},{"name":"Access-Control-Allow-Origin","value":"*"}]}}},"id":"respond-market-001","name":"Respond Market","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1400,600]},{"parameters":{"method":"POST","url":"https://n8n.dakona.net/webhook/schwab-processor","sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"{\"trigger\":\"dax-chat\"}","options":{"timeout":120000}},"id":"call-schwab-proc-001","name":"Call Schwab Processor","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[960,400]},{"parameters":{"jsCode":"const result = $('Call Schwab Processor').first().json;\nconst summary = result.summary || 'Reports generated';\nconst results = result.results || [];\nconst links = results.filter(r => r.webUrl).map(r => '. [' + r.clientName + '](' + r.webUrl + ')').join('\\n');\nconst content = '\\u2705 **' + summary + '**\\n\\n' + links;\nconst now = Math.floor(Date.now()/1000);\nconst id = 'chatcmpl-dax-' + now;\nconst c1 = JSON.stringify({ id, object: 'chat.completion.chunk', created: now, model: 'gpt-4o', choices: [{ index: 0, delta: { role: 'assistant', content: '' }, finish_reason: null }] });\nconst c2 = JSON.stringify({ id, object: 'chat.completion.chunk', created: now, model: 'gpt-4o', choices: [{ index: 0, delta: { content }, finish_reason: null }] });\nconst c3 = JSON.stringify({ id, object: 'chat.completion.chunk', created: now, model: 'gpt-4o', choices: [{ index: 0, delta: {}, finish_reason: 'stop' }] });\nreturn [{ json: { sseBody: 'data: ' + c1 + '\\n\\ndata: ' + c2 + '\\n\\ndata: ' + c3 + '\\n\\ndata: [DONE]\\n\\n' } }];"},"id":"format-schwab-resp-001","name":"Format Schwab Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[1180,400]},{"parameters":{"respondWith":"text","responseBody":"={{ $json.sseBody }}","options":{"responseCode":200,"responseHeaders":{"entries":[{"name":"Content-Type","value":"text/event-stream"},{"name":"Cache-Control","value":"no-cache"},{"name":"Connection","value":"keep-alive"},{"name":"Access-Control-Allow-Origin","value":"*"}]}}},"id":"respond-schwab-001","name":"Respond Schwab","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1400,400]},{"parameters":{"jsCode":"\nconst RAG_API = 'http://172.16.0.4:8000';\nconst input = $input.first().json;\nif (input.fileContent && input.fileContent.length > 100) return [{ json: { ...input } }];\nif (input.route !== 'ICP') return [{ json: { ...input, fileContent: '' } }];\ntry {\n  const shellResponse = await $http.request({ method: 'POST', url: 'https://n8n.dakona.net/webhook/shell-runner', headers: { 'Content-Type': 'application/json' }, body: JSON.stringify({ cmd: \"python3 -c \\\"import sys; sys.path.insert(0,'/home/dkn8n/.local/lib/python3.12/site-packages'); from pymongo import MongoClient; import json; c=MongoClient('mongodb://cosmos-dax-dakona-pilot:uH4yWzAqgQXyy9JQghlPUp2MhbwZ1KoSbCm8oxxGoMB4Ve3lKJ34iNjYSdKPTvTqBLFUbTGqo2L4ACDbNY3Utg==@cosmos-dax-dakona-pilot.mongo.cosmos.azure.com:10255/librechat?ssl=true&replicaSet=globaldb&retrywrites=false&maxIdleTimeMS=120000'); f=c.librechat.files.find({},{},).sort('createdAt',-1).limit(1).next(); print(json.dumps({'file_id':f.get('file_id',''),'filename':f.get('filename','')})); c.close()\\\"\" }), timeout: 10000 });\n  const parsed = JSON.parse(shellResponse.stdout || '{}');\n  const fileId = parsed.file_id;\n  if (!fileId) return [{ json: { ...input, fileContent: '', ragError: 'No file_id' } }];\n  const crypto = require('crypto');\n  const JWT_SECRET = 'dax-rag-secret-2026';\n  const header = Buffer.from(JSON.stringify({ alg: 'HS256', typ: 'JWT' })).toString('base64url');\n  const payload = Buffer.from(JSON.stringify({ sub: 'dax-n8n', exp: Math.floor(Date.now()/1000) + 3600 })).toString('base64url');\n  const sig = crypto.createHmac('sha256', JWT_SECRET).update(header + '.' + payload).digest('base64url');\n  const token = header + '.' + payload + '.' + sig;\n  const ragResponse = await $http.request({ method: 'POST', url: RAG_API + '/query_multiple', headers: { 'Authorization': 'Bearer ' + token, 'Content-Type': 'application/json' }, body: JSON.stringify({ query: 'CLIENT_NAME ACCOUNT_NUMBER PORTFOLIO_VALUE YTD_RETURN ADVISOR_NAME FIRM_NAME', file_ids: [fileId], k: 100 }), timeout: 15000 });\n  const docs = Array.isArray(ragResponse) ? ragResponse : [];\n  const fileContent = docs.map(d => Array.isArray(d) ? (d[0]?.page_content || '') : (d?.page_content || '')).filter(Boolean).join('\\n');\n  return [{ json: { ...input, fileContent, fileId, filename: parsed.filename, fileContentSource: 'rag_api', ragChunks: docs.length } }];\n} catch(e) {\n  return [{ json: { ...input, fileContent: '', ragError: e.message } }];\n}\n","mode":"runOnceForAllItems"},"id":"fetch-file-rag","name":"Fetch File from RAG","type":"n8n-nodes-base.code","typeVersion":2,"position":[960,100]},{"parameters":{"method":"POST","url":"https://oai-dax-dakona-pilot.openai.azure.com/openai/deployments/gpt-4o/chat/completions?api-version=2024-08-01-preview","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api-key","value":"635645200b2c4f90a1833de2bda6b753"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ model: \"gpt-4o\", messages: [ { role: \"system\", content: \"You are a data extraction assistant. Extract ICP report fields from the advisor message. Return a JSON object with clientName and other fields. If clientName cannot be found, return {}.\" }, { role: \"user\", content: $json.userText } ], max_tokens: 2000, temperature: 0 }) }}","options":{"timeout":30000}},"id":"0a805ce0-e9c4-4ea7-aae5-df1e6f299471","name":"ICP Field Extractor","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1180,100]},{"parameters":{"jsCode":"const httpResult = $('ICP Field Extractor').first().json;\nconst content = httpResult?.choices?.[0]?.message?.content || '{}';\nlet fields = {};\ntry { const m = content.match(/\\{[\\s\\S]*\\}/); if (m) fields = JSON.parse(m[0]); } catch(e) {}\nif (!fields.clientName) {\n  const now = Math.floor(Date.now()/1000);\n  const id = 'chatcmpl-dax-' + now;\n  const msg = \"I'd be happy to generate an ICP report! Could you provide the client's name and report period (e.g. Q1, Q2, Q3, Q4 followed by year\";\n  const c1 = JSON.stringify({ id, object: 'chat.completion.chunk', created: now, model: 'gpt-4o', choices: [{ index: 0, delta: { role: 'assistant', content: '' }, finish_reason: null }] });\n  const c2 = JSON.stringify({ id, object: 'chat.completion.chunk', created: now, model: 'gpt-4o', choices: [{ index: 0, delta: { content: msg }, finish_reason: null }] });\n  const c3 = JSON.stringify({ id, object: 'chat.completion.chunk', created: now, model: 'gpt-4o', choices: [{ index: 0, delta: {}, finish_reason: 'stop' }] });\n  return [{ json: { _askForMore: true, sseBody: 'data: ' + c1 + '\\n\\ndata: ' + c2 + '\\n\\ndata: ' + c3 + '\\n\\ndata: [DONE]\\n\\n' } }];\n}\nconst now = new Date().toISOString().split('T')[0];\nreturn [{ json: { _buildPayload: true, firmName: fields.firmName || '', clientName: fields.clientName, reportPeriod: fields.reportPeriod || ('Q' + Math.ceil((new Date().getMonth() + 1) / 3) + ' ' + new Date().getFullYear()), reportDate: now, advisorName: fields.advisorName || '', accountNumber: fields.accountNumber || 'TBD', accountType: fields.accountType || 'Investment Account', riskProfile: fields.riskProfile || 'Moderate', meetingDate: now, meetingLocation: fields.meetingLocation || 'Zoom', attendees: fields.advisorName || '', meetingDuration: '60 min', discussionPoint1: fields.discussionPoint1 || '', discussionPoint2: fields.discussionPoint2 || '', discussionPoint3: fields.discussionPoint3 || '', advisorNotes: '', portfolioValue: fields.portfolioValue || 'TBD', ytdReturn: fields.ytdReturn || 'TBD', benchmarkReturn: 'TBD', vsBenchmark: 'TBD', goal1: fields.goal1 || '', goal2: fields.goal2 || '', goal3: fields.goal3 || '', goalsProgressNotes: '', action1: fields.action1 || '', action1Owner: '', action1Due: '', action2: fields.action2 || '', action2Owner: '', action2Due: '', action3: '', action3Owner: '', action3Due: '', nextMeetingDate: '', nextMeetingAgenda: '' } }];"},"id":"b673c32b-4f3d-45b5-afab-d5a7fe186c46","name":"Build Document Payload","type":"n8n-nodes-base.code","typeVersion":2,"position":[1400,100]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $json._askForMore }}","rightValue":true,"operator":{"type":"boolean","operation":"true"},"id":"ask-for-more-check"}],"combinator":"and"},"options":{}},"id":"869ca323-06cb-4006-ab47-29faf9b04bf8","name":"Need More Info?","type":"n8n-nodes-base.if","typeVersion":2,"position":[1620,100]},{"parameters":{"respondWith":"text","responseBody":"={{ $json.sseBody }}","options":{"responseCode":200,"responseHeaders":{"entries":[{"name":"Content-Type","value":"text/event-stream"},{"name":"Cache-Control","value":"no-cache"},{"name":"Connection","value":"keep-alive"},{"name":"Access-Control-Allow-Origin","value":"*"}]}}},"id":"645dd84c-d686-4c8d-80b8-ae844aa0b4b9","name":"Respond Ask More","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1840,0]},{"parameters":{"method":"POST","url":"https://n8n.dakona.net/webhook/generate-document","sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{"timeout":60000}},"id":"faf90276-8cbd-4214-81e0-94f93d863ff7","name":"Generate Document","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1840,200]},{"parameters":{"jsCode":"const docResult = $('Generate Document').first().json;\nconst fields = $('Build Document Payload').first().json;\nconst webUrl = docResult.webUrl || '';\nconst clientName = fields.clientName || 'Client';\nconst reportPeriod = fields.reportPeriod || ('Q' + Math.ceil((new Date().getMonth() + 1) / 3) + ' ' + new Date().getFullYear());\nconst content = '\\u2705 Your ' + reportPeriod + ' ICP report for **' + clientName + '** is ready!\\n\\n\\uD83D\\uDCC4 [Open in SharePoint](' + webUrl + ')';\nconst now = Math.floor(Date.now()/1000);\nconst id = 'chatcmpl-dax-' + now;\nconst c1 = JSON.stringify({ id, object: 'chat.completion.chunk', created: now, model: 'gpt-4o', choices: [{ index: 0, delta: { role: 'assistant', content: '' }, finish_reason: null }] });\nconst c2 = JSON.stringify({ id, object: 'chat.completion.chunk', created: now, model: 'gpt-4o', choices: [{ index: 0, delta: { content }, finish_reason: null }] });\nconst c3 = JSON.stringify({ id, object: 'chat.completion.chunk', created: now, model: 'gpt-4o', choices: [{ index: 0, delta: {}, finish_reason: 'stop' }] });\nreturn [{ json: { sseBody: 'data: ' + c1 + '\\n\\ndata: ' + c2 + '\\n\\ndata: ' + c3 + '\\n\\ndata: [DONE]\\n\\n' } }];"},"id":"63f7c49b-c584-4ff6-bfbc-a5241c417fa1","name":"Format ICP Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[2060,200]},{"parameters":{"respondWith":"text","responseBody":"={{ $json.sseBody }}","options":{"responseCode":200,"responseHeaders":{"entries":[{"name":"Content-Type","value":"text/event-stream"},{"name":"Cache-Control","value":"no-cache"},{"name":"Connection","value":"keep-alive"},{"name":"Access-Control-Allow-Origin","value":"*"}]}}},"id":"84b4fcfb-6197-453d-a49d-71337817c255","name":"Respond ICP","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[2280,200]},{"parameters":{"method":"POST","url":"https://oai-dax-dakona-pilot.openai.azure.com/openai/deployments/gpt-4o/chat/completions?api-version=2024-08-01-preview","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api-key","value":"635645200b2c4f90a1833de2bda6b753"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ (() => { const b = Object.assign({}, $('Route Input').first().json.originalBody); delete b.stream; b.stream = false; return b; })() }}","options":{"timeout":60000}},"id":"3b9d176d-5271-44a3-96ab-f33598300829","name":"Azure OpenAI Passthrough","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[960,800]},{"parameters":{"jsCode":"const oaiResp = $('Azure OpenAI Passthrough').first().json;\nconst content = oaiResp?.choices?.[0]?.message?.content || 'I am DAX, your Governed AI Workspace for RIAs.';\nconst now = Math.floor(Date.now()/1000);\nconst id = 'chatcmpl-dax-' + now;\nconst c1 = JSON.stringify({ id, object: 'chat.completion.chunk', created: now, model: 'gpt-4o', choices: [{ index: 0, delta: { role: 'assistant', content: '' }, finish_reason: null }] });\nconst c2 = JSON.stringify({ id, object: 'chat.completion.chunk', created: now, model: 'gpt-4o', choices: [{ index: 0, delta: { content }, finish_reason: null }] });\nconst c3 = JSON.stringify({ id, object: 'chat.completion.chunk', created: now, model: 'gpt-4o', choices: [{ index: 0, delta: {}, finish_reason: 'stop' }] });\nreturn [{ json: { sseBody: 'data: ' + c1 + '\\n\\ndata: ' + c2 + '\\n\\ndata: ' + c3 + '\\n\\ndata: [DONE]\\n\\n' } }];"},"id":"5c4b8524-2ab6-4848-8bca-d8d3c3dc9701","name":"Format General Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[1180,800]},{"parameters":{"respondWith":"text","responseBody":"={{ $json.sseBody }}","options":{"responseCode":200,"responseHeaders":{"entries":[{"name":"Content-Type","value":"text/event-stream"},{"name":"Cache-Control","value":"no-cache"},{"name":"Connection","value":"keep-alive"},{"name":"Access-Control-Allow-Origin","value":"*"}]}}},"id":"0ea8c82d-6e5d-4291-b3f9-7f7051c9e4b8","name":"Respond General","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1400,800]}],"connections":{"Webhook":{"main":[[{"node":"Route Input","type":"main","index":0}]]},"Route Input":{"main":[[{"node":"Route Switch","type":"main","index":0}]]},"Route Switch":{"main":[[{"node":"Fetch File from RAG","type":"main","index":0}],[{"node":"Is Schwab?","type":"main","index":0}]]},"Is Schwab?":{"main":[[{"node":"Call Schwab Processor","type":"main","index":0}],[{"node":"Is Market?","type":"main","index":0}]]},"Is Market?":{"main":[[{"node":"Call Market Data","type":"main","index":0}],[{"node":"Azure OpenAI Passthrough","type":"main","index":0}]]},"Call Market Data":{"main":[[{"node":"Format Market Response","type":"main","index":0}]]},"Format Market Response":{"main":[[{"node":"Respond Market","type":"main","index":0}]]},"Call Schwab Processor":{"main":[[{"node":"Format Schwab Response","type":"main","index":0}]]},"Format Schwab Response":{"main":[[{"node":"Respond Schwab","type":"main","index":0}]]},"Fetch File from RAG":{"main":[[{"node":"ICP Field Extractor","type":"main","index":0}]]},"ICP Field Extractor":{"main":[[{"node":"Build Document Payload","type":"main","index":0}]]},"Build Document Payload":{"main":[[{"node":"Need More Info?","type":"main","index":0}]]},"Need More Info?":{"main":[[{"node":"Respond Ask More","type":"main","index":0}],[{"node":"Generate Document","type":"main","index":0}]]},"Generate Document":{"main":[[{"node":"Format ICP Response","type":"main","index":0}]]},"Format ICP Response":{"main":[[{"node":"Respond ICP","type":"main","index":0}]]},"Azure OpenAI Passthrough":{"main":[[{"node":"Format General Response","type":"main","index":0}]]},"Format General Response":{"main":[[{"node":"Respond General","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"8213b2dc-764c-48a3-b612-56d57871e79a","activeVersionId":"8213b2dc-764c-48a3-b612-56d57871e79a","versionCounter":106,"triggerCount":1,"shared":[{"updatedAt":"2026-03-17T03:40:38.515Z","createdAt":"2026-03-17T03:40:38.515Z","role":"workflow:owner","workflowId":"3tniyxZREqfnAbfo","projectId":"xDgj8rwVTQP3E9Cb","project":{"updatedAt":"2025-11-10T15:32:18.748Z","createdAt":"2025-11-10T03:21:08.872Z","id":"xDgj8rwVTQP3E9Cb","name":"Richard Mabbun <rmabbun@dakona.com>","type":"personal","icon":null,"description":null,"creatorId":"763ebc85-8160-4949-8238-c0ab68058111"}}],"tags":[],"activeVersion":{"updatedAt":"2026-03-18T21:20:44.922Z","createdAt":"2026-03-18T21:20:44.922Z","versionId":"8213b2dc-764c-48a3-b612-56d57871e79a","workflowId":"3tniyxZREqfnAbfo","nodes":[{"parameters":{"httpMethod":"POST","path":"dax/chat/completions","responseMode":"responseNode","options":{}},"id":"239c8918-6c92-4b56-b4a7-30d965423032","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[272,304],"webhookId":"4d239fe4-a8ea-4a56-aace-d3e25bc1688e"},{"parameters":{"jsCode":"const body = $json.body || $json;\nconst messages = body.messages || [];\nconst lastUserMsg = [...messages].reverse().find(m => m.role === 'user');\nlet userText = '';\nlet fileContent = '';\nif (typeof lastUserMsg?.content === 'string') {\n  userText = lastUserMsg.content;\n} else if (Array.isArray(lastUserMsg?.content)) {\n  for (const part of lastUserMsg.content) {\n    if (part.type === 'text') userText += part.text || '';\n    else if (part.type === 'file' || part.type === 'document') fileContent += part.file_data?.content || part.content || part.text || '';\n  }\n}\nconst userTextLower = userText.toLowerCase().trim();\nconst fullText = (userTextLower + ' ' + fileContent).toLowerCase();\n\n// SCHWAB\nconst schwabKeywords = ['schwab','all clients','all client','all reports','all icp','generate all','bulk','multiple clients','from the file','from sharepoint','downloads folder','the file','export file','data file','uploaded file'];\nconst isSchwab = schwabKeywords.some(kw => fullText.includes(kw));\n\n// ICP\nconst icpKeywords = ['generate icp','create icp','icp report','icp review','quarterly review','quarterly report','client review','generate report','create report','build report'];\nconst isICP = !isSchwab && icpKeywords.some(kw => fullText.includes(kw));\nconst hasClientData = fileContent && (fileContent.includes('CLIENT_NAME') || fileContent.includes('ACCOUNT_NUMBER') || fileContent.includes('PORTFOLIO_VALUE') || fileContent.includes('YTD_RETURN'));\n\n// MARKET DATA - ticker/price questions\nconst marketKeywords = ['trading at','stock price','share price','what is aapl','what is msft','what is nvda','what is tsla','what is amzn','what is googl','what is meta','what is spy','what is qqq','what is dia','what is iwm','stock quote','market price','price of','price for','how is the market','market today','market doing','s&p today','nasdaq today','dow today','index today','etf price','bond yield','10 year yield','2 year yield','vix today','vix at','gold price','oil price','bitcoin price'];\nconst hasExplicitTicker = /\\b[A-Z]{2,5}\\b/.test(userText) && (fullText.includes('price') || fullText.includes('trading') || fullText.includes('quote') || fullText.includes('stock') || fullText.includes('ticker') || fullText.includes('at today') || fullText.includes('right now'));\nconst isMarket = !isSchwab && !isICP && (marketKeywords.some(kw => fullText.includes(kw)) || hasExplicitTicker);\n\nlet route = 'GENERAL';\nif (isSchwab) route = 'SCHWAB';\nelse if (isICP || hasClientData) route = 'ICP';\nelse if (isMarket) route = 'MARKET';\n\nconsole.log('Route:', route, '| text:', userTextLower.substring(0,80));\nreturn [{ json: { route, userMessage: lastUserMsg?.content || '', userText: userTextLower || fileContent.substring(0, 500), fileContent, hasFile: fileContent.length > 0, originalBody: body, messages } }];"},"id":"8c11afe7-f333-48e1-9cb6-cc7d615224ab","name":"Route Input","type":"n8n-nodes-base.code","typeVersion":2,"position":[496,304]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $json.route }}","rightValue":"ICP","operator":{"type":"string","operation":"equals"},"id":"611217ae-bbdb-44d8-a519-ce67c946630c"}],"combinator":"and"},"options":{}},"id":"ec184535-6382-4f73-82f7-af31dd7b3dd3","name":"Route Switch","type":"n8n-nodes-base.if","typeVersion":2,"position":[720,200]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $json.route }}","rightValue":"SCHWAB","operator":{"type":"string","operation":"equals"},"id":"schwab-check-001"}],"combinator":"and"},"options":{}},"id":"schwab-if-node-001","name":"Is Schwab?","type":"n8n-nodes-base.if","typeVersion":2,"position":[720,400]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $json.route }}","rightValue":"MARKET","operator":{"type":"string","operation":"equals"},"id":"market-check-001"}],"combinator":"and"},"options":{}},"id":"market-if-node-001","name":"Is Market?","type":"n8n-nodes-base.if","typeVersion":2,"position":[720,600]},{"parameters":{"method":"POST","url":"https://n8n.dakona.net/webhook/market-data","sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={{ JSON.stringify({ question: $('Route Input').first().json.userText }) }}","options":{"timeout":15000}},"id":"call-market-001","name":"Call Market Data","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[960,600]},{"parameters":{"jsCode":"const result = $('Call Market Data').first().json;\nconst content = result.content || 'Unable to retrieve market data right now.';\nconst now = Math.floor(Date.now()/1000);\nconst id = 'chatcmpl-dax-' + now;\nconst c1 = JSON.stringify({ id, object: 'chat.completion.chunk', created: now, model: 'gpt-4o', choices: [{ index: 0, delta: { role: 'assistant', content: '' }, finish_reason: null }] });\nconst c2 = JSON.stringify({ id, object: 'chat.completion.chunk', created: now, model: 'gpt-4o', choices: [{ index: 0, delta: { content }, finish_reason: null }] });\nconst c3 = JSON.stringify({ id, object: 'chat.completion.chunk', created: now, model: 'gpt-4o', choices: [{ index: 0, delta: {}, finish_reason: 'stop' }] });\nreturn [{ json: { sseBody: 'data: ' + c1 + '\\n\\ndata: ' + c2 + '\\n\\ndata: ' + c3 + '\\n\\ndata: [DONE]\\n\\n' } }];"},"id":"format-market-001","name":"Format Market Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[1180,600]},{"parameters":{"respondWith":"text","responseBody":"={{ $json.sseBody }}","options":{"responseCode":200,"responseHeaders":{"entries":[{"name":"Content-Type","value":"text/event-stream"},{"name":"Cache-Control","value":"no-cache"},{"name":"Connection","value":"keep-alive"},{"name":"Access-Control-Allow-Origin","value":"*"}]}}},"id":"respond-market-001","name":"Respond Market","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1400,600]},{"parameters":{"method":"POST","url":"https://n8n.dakona.net/webhook/schwab-processor","sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"{\"trigger\":\"dax-chat\"}","options":{"timeout":120000}},"id":"call-schwab-proc-001","name":"Call Schwab Processor","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[960,400]},{"parameters":{"jsCode":"const result = $('Call Schwab Processor').first().json;\nconst summary = result.summary || 'Reports generated';\nconst results = result.results || [];\nconst links = results.filter(r => r.webUrl).map(r => '. [' + r.clientName + '](' + r.webUrl + ')').join('\\n');\nconst content = '\\u2705 **' + summary + '**\\n\\n' + links;\nconst now = Math.floor(Date.now()/1000);\nconst id = 'chatcmpl-dax-' + now;\nconst c1 = JSON.stringify({ id, object: 'chat.completion.chunk', created: now, model: 'gpt-4o', choices: [{ index: 0, delta: { role: 'assistant', content: '' }, finish_reason: null }] });\nconst c2 = JSON.stringify({ id, object: 'chat.completion.chunk', created: now, model: 'gpt-4o', choices: [{ index: 0, delta: { content }, finish_reason: null }] });\nconst c3 = JSON.stringify({ id, object: 'chat.completion.chunk', created: now, model: 'gpt-4o', choices: [{ index: 0, delta: {}, finish_reason: 'stop' }] });\nreturn [{ json: { sseBody: 'data: ' + c1 + '\\n\\ndata: ' + c2 + '\\n\\ndata: ' + c3 + '\\n\\ndata: [DONE]\\n\\n' } }];"},"id":"format-schwab-resp-001","name":"Format Schwab Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[1180,400]},{"parameters":{"respondWith":"text","responseBody":"={{ $json.sseBody }}","options":{"responseCode":200,"responseHeaders":{"entries":[{"name":"Content-Type","value":"text/event-stream"},{"name":"Cache-Control","value":"no-cache"},{"name":"Connection","value":"keep-alive"},{"name":"Access-Control-Allow-Origin","value":"*"}]}}},"id":"respond-schwab-001","name":"Respond Schwab","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1400,400]},{"parameters":{"jsCode":"\nconst RAG_API = 'http://172.16.0.4:8000';\nconst input = $input.first().json;\nif (input.fileContent && input.fileContent.length > 100) return [{ json: { ...input } }];\nif (input.route !== 'ICP') return [{ json: { ...input, fileContent: '' } }];\ntry {\n  const shellResponse = await $http.request({ method: 'POST', url: 'https://n8n.dakona.net/webhook/shell-runner', headers: { 'Content-Type': 'application/json' }, body: JSON.stringify({ cmd: \"python3 -c \\\"import sys; sys.path.insert(0,'/home/dkn8n/.local/lib/python3.12/site-packages'); from pymongo import MongoClient; import json; c=MongoClient('mongodb://cosmos-dax-dakona-pilot:uH4yWzAqgQXyy9JQghlPUp2MhbwZ1KoSbCm8oxxGoMB4Ve3lKJ34iNjYSdKPTvTqBLFUbTGqo2L4ACDbNY3Utg==@cosmos-dax-dakona-pilot.mongo.cosmos.azure.com:10255/librechat?ssl=true&replicaSet=globaldb&retrywrites=false&maxIdleTimeMS=120000'); f=c.librechat.files.find({},{},).sort('createdAt',-1).limit(1).next(); print(json.dumps({'file_id':f.get('file_id',''),'filename':f.get('filename','')})); c.close()\\\"\" }), timeout: 10000 });\n  const parsed = JSON.parse(shellResponse.stdout || '{}');\n  const fileId = parsed.file_id;\n  if (!fileId) return [{ json: { ...input, fileContent: '', ragError: 'No file_id' } }];\n  const crypto = require('crypto');\n  const JWT_SECRET = 'dax-rag-secret-2026';\n  const header = Buffer.from(JSON.stringify({ alg: 'HS256', typ: 'JWT' })).toString('base64url');\n  const payload = Buffer.from(JSON.stringify({ sub: 'dax-n8n', exp: Math.floor(Date.now()/1000) + 3600 })).toString('base64url');\n  const sig = crypto.createHmac('sha256', JWT_SECRET).update(header + '.' + payload).digest('base64url');\n  const token = header + '.' + payload + '.' + sig;\n  const ragResponse = await $http.request({ method: 'POST', url: RAG_API + '/query_multiple', headers: { 'Authorization': 'Bearer ' + token, 'Content-Type': 'application/json' }, body: JSON.stringify({ query: 'CLIENT_NAME ACCOUNT_NUMBER PORTFOLIO_VALUE YTD_RETURN ADVISOR_NAME FIRM_NAME', file_ids: [fileId], k: 100 }), timeout: 15000 });\n  const docs = Array.isArray(ragResponse) ? ragResponse : [];\n  const fileContent = docs.map(d => Array.isArray(d) ? (d[0]?.page_content || '') : (d?.page_content || '')).filter(Boolean).join('\\n');\n  return [{ json: { ...input, fileContent, fileId, filename: parsed.filename, fileContentSource: 'rag_api', ragChunks: docs.length } }];\n} catch(e) {\n  return [{ json: { ...input, fileContent: '', ragError: e.message } }];\n}\n","mode":"runOnceForAllItems"},"id":"fetch-file-rag","name":"Fetch File from RAG","type":"n8n-nodes-base.code","typeVersion":2,"position":[960,100]},{"parameters":{"method":"POST","url":"https://oai-dax-dakona-pilot.openai.azure.com/openai/deployments/gpt-4o/chat/completions?api-version=2024-08-01-preview","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api-key","value":"635645200b2c4f90a1833de2bda6b753"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ model: \"gpt-4o\", messages: [ { role: \"system\", content: \"You are a data extraction assistant. Extract ICP report fields from the advisor message. Return a JSON object with clientName and other fields. If clientName cannot be found, return {}.\" }, { role: \"user\", content: $json.userText } ], max_tokens: 2000, temperature: 0 }) }}","options":{"timeout":30000}},"id":"0a805ce0-e9c4-4ea7-aae5-df1e6f299471","name":"ICP Field Extractor","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1180,100]},{"parameters":{"jsCode":"const httpResult = $('ICP Field Extractor').first().json;\nconst content = httpResult?.choices?.[0]?.message?.content || '{}';\nlet fields = {};\ntry { const m = content.match(/\\{[\\s\\S]*\\}/); if (m) fields = JSON.parse(m[0]); } catch(e) {}\nif (!fields.clientName) {\n  const now = Math.floor(Date.now()/1000);\n  const id = 'chatcmpl-dax-' + now;\n  const msg = \"I'd be happy to generate an ICP report! Could you provide the client's name and report period (e.g. Q1, Q2, Q3, Q4 followed by year\";\n  const c1 = JSON.stringify({ id, object: 'chat.completion.chunk', created: now, model: 'gpt-4o', choices: [{ index: 0, delta: { role: 'assistant', content: '' }, finish_reason: null }] });\n  const c2 = JSON.stringify({ id, object: 'chat.completion.chunk', created: now, model: 'gpt-4o', choices: [{ index: 0, delta: { content: msg }, finish_reason: null }] });\n  const c3 = JSON.stringify({ id, object: 'chat.completion.chunk', created: now, model: 'gpt-4o', choices: [{ index: 0, delta: {}, finish_reason: 'stop' }] });\n  return [{ json: { _askForMore: true, sseBody: 'data: ' + c1 + '\\n\\ndata: ' + c2 + '\\n\\ndata: ' + c3 + '\\n\\ndata: [DONE]\\n\\n' } }];\n}\nconst now = new Date().toISOString().split('T')[0];\nreturn [{ json: { _buildPayload: true, firmName: fields.firmName || '', clientName: fields.clientName, reportPeriod: fields.reportPeriod || ('Q' + Math.ceil((new Date().getMonth() + 1) / 3) + ' ' + new Date().getFullYear()), reportDate: now, advisorName: fields.advisorName || '', accountNumber: fields.accountNumber || 'TBD', accountType: fields.accountType || 'Investment Account', riskProfile: fields.riskProfile || 'Moderate', meetingDate: now, meetingLocation: fields.meetingLocation || 'Zoom', attendees: fields.advisorName || '', meetingDuration: '60 min', discussionPoint1: fields.discussionPoint1 || '', discussionPoint2: fields.discussionPoint2 || '', discussionPoint3: fields.discussionPoint3 || '', advisorNotes: '', portfolioValue: fields.portfolioValue || 'TBD', ytdReturn: fields.ytdReturn || 'TBD', benchmarkReturn: 'TBD', vsBenchmark: 'TBD', goal1: fields.goal1 || '', goal2: fields.goal2 || '', goal3: fields.goal3 || '', goalsProgressNotes: '', action1: fields.action1 || '', action1Owner: '', action1Due: '', action2: fields.action2 || '', action2Owner: '', action2Due: '', action3: '', action3Owner: '', action3Due: '', nextMeetingDate: '', nextMeetingAgenda: '' } }];"},"id":"b673c32b-4f3d-45b5-afab-d5a7fe186c46","name":"Build Document Payload","type":"n8n-nodes-base.code","typeVersion":2,"position":[1400,100]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $json._askForMore }}","rightValue":true,"operator":{"type":"boolean","operation":"true"},"id":"ask-for-more-check"}],"combinator":"and"},"options":{}},"id":"869ca323-06cb-4006-ab47-29faf9b04bf8","name":"Need More Info?","type":"n8n-nodes-base.if","typeVersion":2,"position":[1620,100]},{"parameters":{"respondWith":"text","responseBody":"={{ $json.sseBody }}","options":{"responseCode":200,"responseHeaders":{"entries":[{"name":"Content-Type","value":"text/event-stream"},{"name":"Cache-Control","value":"no-cache"},{"name":"Connection","value":"keep-alive"},{"name":"Access-Control-Allow-Origin","value":"*"}]}}},"id":"645dd84c-d686-4c8d-80b8-ae844aa0b4b9","name":"Respond Ask More","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1840,0]},{"parameters":{"method":"POST","url":"https://n8n.dakona.net/webhook/generate-document","sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{"timeout":60000}},"id":"faf90276-8cbd-4214-81e0-94f93d863ff7","name":"Generate Document","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1840,200]},{"parameters":{"jsCode":"const docResult = $('Generate Document').first().json;\nconst fields = $('Build Document Payload').first().json;\nconst webUrl = docResult.webUrl || '';\nconst clientName = fields.clientName || 'Client';\nconst reportPeriod = fields.reportPeriod || ('Q' + Math.ceil((new Date().getMonth() + 1) / 3) + ' ' + new Date().getFullYear());\nconst content = '\\u2705 Your ' + reportPeriod + ' ICP report for **' + clientName + '** is ready!\\n\\n\\uD83D\\uDCC4 [Open in SharePoint](' + webUrl + ')';\nconst now = Math.floor(Date.now()/1000);\nconst id = 'chatcmpl-dax-' + now;\nconst c1 = JSON.stringify({ id, object: 'chat.completion.chunk', created: now, model: 'gpt-4o', choices: [{ index: 0, delta: { role: 'assistant', content: '' }, finish_reason: null }] });\nconst c2 = JSON.stringify({ id, object: 'chat.completion.chunk', created: now, model: 'gpt-4o', choices: [{ index: 0, delta: { content }, finish_reason: null }] });\nconst c3 = JSON.stringify({ id, object: 'chat.completion.chunk', created: now, model: 'gpt-4o', choices: [{ index: 0, delta: {}, finish_reason: 'stop' }] });\nreturn [{ json: { sseBody: 'data: ' + c1 + '\\n\\ndata: ' + c2 + '\\n\\ndata: ' + c3 + '\\n\\ndata: [DONE]\\n\\n' } }];"},"id":"63f7c49b-c584-4ff6-bfbc-a5241c417fa1","name":"Format ICP Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[2060,200]},{"parameters":{"respondWith":"text","responseBody":"={{ $json.sseBody }}","options":{"responseCode":200,"responseHeaders":{"entries":[{"name":"Content-Type","value":"text/event-stream"},{"name":"Cache-Control","value":"no-cache"},{"name":"Connection","value":"keep-alive"},{"name":"Access-Control-Allow-Origin","value":"*"}]}}},"id":"84b4fcfb-6197-453d-a49d-71337817c255","name":"Respond ICP","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[2280,200]},{"parameters":{"method":"POST","url":"https://oai-dax-dakona-pilot.openai.azure.com/openai/deployments/gpt-4o/chat/completions?api-version=2024-08-01-preview","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api-key","value":"635645200b2c4f90a1833de2bda6b753"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ (() => { const b = Object.assign({}, $('Route Input').first().json.originalBody); delete b.stream; b.stream = false; return b; })() }}","options":{"timeout":60000}},"id":"3b9d176d-5271-44a3-96ab-f33598300829","name":"Azure OpenAI Passthrough","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[960,800]},{"parameters":{"jsCode":"const oaiResp = $('Azure OpenAI Passthrough').first().json;\nconst content = oaiResp?.choices?.[0]?.message?.content || 'I am DAX, your Governed AI Workspace for RIAs.';\nconst now = Math.floor(Date.now()/1000);\nconst id = 'chatcmpl-dax-' + now;\nconst c1 = JSON.stringify({ id, object: 'chat.completion.chunk', created: now, model: 'gpt-4o', choices: [{ index: 0, delta: { role: 'assistant', content: '' }, finish_reason: null }] });\nconst c2 = JSON.stringify({ id, object: 'chat.completion.chunk', created: now, model: 'gpt-4o', choices: [{ index: 0, delta: { content }, finish_reason: null }] });\nconst c3 = JSON.stringify({ id, object: 'chat.completion.chunk', created: now, model: 'gpt-4o', choices: [{ index: 0, delta: {}, finish_reason: 'stop' }] });\nreturn [{ json: { sseBody: 'data: ' + c1 + '\\n\\ndata: ' + c2 + '\\n\\ndata: ' + c3 + '\\n\\ndata: [DONE]\\n\\n' } }];"},"id":"5c4b8524-2ab6-4848-8bca-d8d3c3dc9701","name":"Format General Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[1180,800]},{"parameters":{"respondWith":"text","responseBody":"={{ $json.sseBody }}","options":{"responseCode":200,"responseHeaders":{"entries":[{"name":"Content-Type","value":"text/event-stream"},{"name":"Cache-Control","value":"no-cache"},{"name":"Connection","value":"keep-alive"},{"name":"Access-Control-Allow-Origin","value":"*"}]}}},"id":"0ea8c82d-6e5d-4291-b3f9-7f7051c9e4b8","name":"Respond General","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1400,800]}],"connections":{"Webhook":{"main":[[{"node":"Route Input","type":"main","index":0}]]},"Route Input":{"main":[[{"node":"Route Switch","type":"main","index":0}]]},"Route Switch":{"main":[[{"node":"Fetch File from RAG","type":"main","index":0}],[{"node":"Is Schwab?","type":"main","index":0}]]},"Is Schwab?":{"main":[[{"node":"Call Schwab Processor","type":"main","index":0}],[{"node":"Is Market?","type":"main","index":0}]]},"Is Market?":{"main":[[{"node":"Call Market Data","type":"main","index":0}],[{"node":"Azure OpenAI Passthrough","type":"main","index":0}]]},"Call Market Data":{"main":[[{"node":"Format Market Response","type":"main","index":0}]]},"Format Market Response":{"main":[[{"node":"Respond Market","type":"main","index":0}]]},"Call Schwab Processor":{"main":[[{"node":"Format Schwab Response","type":"main","index":0}]]},"Format Schwab Response":{"main":[[{"node":"Respond Schwab","type":"main","index":0}]]},"Fetch File from RAG":{"main":[[{"node":"ICP Field Extractor","type":"main","index":0}]]},"ICP Field Extractor":{"main":[[{"node":"Build Document Payload","type":"main","index":0}]]},"Build Document Payload":{"main":[[{"node":"Need More Info?","type":"main","index":0}]]},"Need More Info?":{"main":[[{"node":"Respond Ask More","type":"main","index":0}],[{"node":"Generate Document","type":"main","index":0}]]},"Generate Document":{"main":[[{"node":"Format ICP Response","type":"main","index":0}]]},"Format ICP Response":{"main":[[{"node":"Respond ICP","type":"main","index":0}]]},"Azure OpenAI Passthrough":{"main":[[{"node":"Format General Response","type":"main","index":0}]]},"Format General Response":{"main":[[{"node":"Respond General","type":"main","index":0}]]}},"authors":"Richard Mabbun","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-03-18T21:20:44.987Z","id":492,"workflowId":"3tniyxZREqfnAbfo","versionId":"8213b2dc-764c-48a3-b612-56d57871e79a","event":"activated","userId":"763ebc85-8160-4949-8238-c0ab68058111"},{"createdAt":"2026-03-18T21:20:44.966Z","id":491,"workflowId":"3tniyxZREqfnAbfo","versionId":"8213b2dc-764c-48a3-b612-56d57871e79a","event":"deactivated","userId":"763ebc85-8160-4949-8238-c0ab68058111"}]}}