n8n/market-data-current.json
{"updatedAt":"2026-03-18T19:53:36.116Z","createdAt":"2026-03-18T19:51:14.380Z","id":"xHKy8z9XCRVRIOcR","name":"DAX Market Data","description":null,"active":true,"isArchived":false,"nodes":[{"id":"mkt-wh-001","name":"Webhook Trigger","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[240,300],"webhookId":"dax-market-data-0001","parameters":{"httpMethod":"POST","path":"market-data","responseMode":"responseNode","options":{}}},{"id":"mkt-extract-001","name":"Extract Tickers","type":"n8n-nodes-base.code","typeVersion":2,"position":[480,300],"parameters":{"mode":"runOnceForAllItems","jsCode":"// Extract ticker symbols from natural language question\nconst question = ($input.first().json.body?.question || $input.first().json.question || '').toLowerCase();\nconsole.log('Question:', question);\n\n// Known ticker mappings for common names\nconst nameMap = {\n  'apple': 'AAPL', 'microsoft': 'MSFT', 'google': 'GOOGL', 'alphabet': 'GOOGL',\n  'amazon': 'AMZN', 'meta': 'META', 'facebook': 'META', 'nvidia': 'NVDA',\n  'tesla': 'TSLA', 'netflix': 'NFLX', 'berkshire': 'BRK-B',\n  'sp500': 'SPY', 's&p 500': 'SPY', 's&p': 'SPY', 'sp 500': 'SPY',\n  'nasdaq': 'QQQ', 'dow': 'DIA', 'dow jones': 'DIA', 'russell': 'IWM',\n  'qqq': 'QQQ', 'spy': 'SPY', 'dia': 'DIA', 'iwm': 'IWM',\n  'gold': 'GLD', 'silver': 'SLV', 'oil': 'USO', 'bitcoin': 'BTC-USD',\n  'vix': '^VIX', 'volatility': '^VIX',\n  'jpmorgan': 'JPM', 'jp morgan': 'JPM', 'goldman': 'GS', 'morgan stanley': 'MS',\n  'visa': 'V', 'mastercard': 'MA', 'paypal': 'PYPL',\n  'johnson': 'JNJ', 'pfizer': 'PFE', 'unitedhealth': 'UNH',\n  'exxon': 'XOM', 'chevron': 'CVX'\n};\n\n// Extract explicit tickers (uppercase 1-5 letter sequences)\nconst explicitTickers = (question.match(/\\b([A-Z]{1,5})\\b/g) || []);\n\n// Extract from name map\nconst mappedTickers = [];\nfor (const [name, ticker] of Object.entries(nameMap)) {\n  if (question.includes(name)) mappedTickers.push(ticker);\n}\n\n// Combine, deduplicate, limit to 5\nconst rawQuestion = $input.first().json.body?.question || $input.first().json.question || '';\nconst allTickers = [...new Set([\n  ...mappedTickers,\n  ...(rawQuestion.match(/\\b([A-Z]{1,5})\\b/g) || [])\n])].slice(0, 5);\n\nconst tickers = allTickers.length > 0 ? allTickers : ['SPY']; // default to SPY if nothing found\nconsole.log('Tickers to fetch:', tickers);\n\nreturn [{ json: { tickers, question: rawQuestion, originalQuestion: rawQuestion } }];"}},{"id":"mkt-fetch-001","name":"Fetch Market Data","type":"n8n-nodes-base.code","typeVersion":2,"position":[720,300],"parameters":{"mode":"runOnceForAllItems","jsCode":"const https = require('https');\n\nfunction fetchQuote(symbol) {\n  return new Promise((resolve) => {\n    const url = `https://query1.finance.yahoo.com/v8/finance/chart/${encodeURIComponent(symbol)}?interval=1d&range=1d`;\n    const options = {\n      hostname: 'query1.finance.yahoo.com',\n      path: `/v8/finance/chart/${encodeURIComponent(symbol)}?interval=1d&range=1d`,\n      method: 'GET',\n      headers: {\n        'User-Agent': 'Mozilla/5.0',\n        'Accept': 'application/json'\n      }\n    };\n    const req = https.request(options, (res) => {\n      let data = '';\n      res.on('data', c => data += c);\n      res.on('end', () => {\n        try {\n          const json = JSON.parse(data);\n          const meta = json?.chart?.result?.[0]?.meta;\n          if (!meta) { resolve({ symbol, error: 'No data' }); return; }\n          const price = meta.regularMarketPrice;\n          const prevClose = meta.chartPreviousClose || meta.previousClose;\n          const change = prevClose ? (price - prevClose) : 0;\n          const changePct = prevClose ? ((change / prevClose) * 100) : 0;\n          const currency = meta.currency || 'USD';\n          const marketState = meta.marketState || 'UNKNOWN';\n          resolve({\n            symbol: meta.symbol || symbol,\n            name: meta.shortName || meta.longName || symbol,\n            price: price?.toFixed(2),\n            change: change?.toFixed(2),\n            changePct: changePct?.toFixed(2),\n            currency,\n            marketState,\n            exchange: meta.exchangeName || ''\n          });\n        } catch(e) {\n          resolve({ symbol, error: e.message });\n        }\n      });\n    });\n    req.on('error', (e) => resolve({ symbol, error: e.message }));\n    req.setTimeout(10000, () => { req.destroy(); resolve({ symbol, error: 'timeout' }); });\n    req.end();\n  });\n}\n\nconst { tickers, question } = $input.first().json;\nconsole.log('Fetching quotes for:', tickers);\n\nconst quotes = await Promise.all(tickers.map(t => fetchQuote(t)));\nconsole.log('Quotes received:', JSON.stringify(quotes));\n\nreturn [{ json: { quotes, question } }];"}},{"id":"mkt-format-001","name":"Format Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[960,300],"parameters":{"jsCode":"const { quotes, question } = $input.first().json;\n\n// Build a clean readable response\nconst lines = quotes.map(q => {\n  if (q.error) return `**${q.symbol}**: data unavailable`;\n  const arrow = parseFloat(q.change) >= 0 ? '▲' : '▼';\n  const sign = parseFloat(q.change) >= 0 ? '+' : '';\n  const state = q.marketState === 'PRE' ? ' *(pre-market)*' : q.marketState === 'POST' ? ' *(after-hours)*' : '';\n  return `**${q.symbol}** (${q.name}) — $${q.price} ${arrow} ${sign}${q.change} (${sign}${q.changePct}%)${state}`;\n});\n\nconst timestamp = new Date().toLocaleTimeString('en-US', { timeZone: 'America/New_York', hour: '2-digit', minute: '2-digit' });\nconst content = lines.join('\\n') + `\\n\\n*Prices as of ~${timestamp} ET via Yahoo Finance*`;\n\nreturn [{ json: { content } }];"}},{"id":"mkt-respond-001","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1200,300],"parameters":{"respondWith":"json","responseBody":"={{ $json }}","options":{"responseCode":200}}}],"connections":{"Webhook Trigger":{"main":[[{"node":"Extract Tickers","type":"main","index":0}]]},"Extract Tickers":{"main":[[{"node":"Fetch Market Data","type":"main","index":0}]]},"Fetch Market Data":{"main":[[{"node":"Format Response","type":"main","index":0}]]},"Format Response":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"de9bdbef-a659-4c8f-a6bc-8eaadbe2e9d7","activeVersionId":"de9bdbef-a659-4c8f-a6bc-8eaadbe2e9d7","versionCounter":7,"triggerCount":1,"shared":[{"updatedAt":"2026-03-18T19:51:14.382Z","createdAt":"2026-03-18T19:51:14.382Z","role":"workflow:owner","workflowId":"xHKy8z9XCRVRIOcR","projectId":"xDgj8rwVTQP3E9Cb","project":{"updatedAt":"2025-11-10T15:32:18.748Z","createdAt":"2025-11-10T03:21:08.872Z","id":"xDgj8rwVTQP3E9Cb","name":"Richard Mabbun <rmabbun@dakona.com>","type":"personal","icon":null,"description":null,"creatorId":"763ebc85-8160-4949-8238-c0ab68058111"}}],"tags":[],"activeVersion":{"updatedAt":"2026-03-18T19:51:14.387Z","createdAt":"2026-03-18T19:51:14.387Z","versionId":"de9bdbef-a659-4c8f-a6bc-8eaadbe2e9d7","workflowId":"xHKy8z9XCRVRIOcR","nodes":[{"id":"mkt-wh-001","name":"Webhook Trigger","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[240,300],"webhookId":"dax-market-data-0001","parameters":{"httpMethod":"POST","path":"market-data","responseMode":"responseNode","options":{}}},{"id":"mkt-extract-001","name":"Extract Tickers","type":"n8n-nodes-base.code","typeVersion":2,"position":[480,300],"parameters":{"mode":"runOnceForAllItems","jsCode":"// Extract ticker symbols from natural language question\nconst question = ($input.first().json.body?.question || $input.first().json.question || '').toLowerCase();\nconsole.log('Question:', question);\n\n// Known ticker mappings for common names\nconst nameMap = {\n  'apple': 'AAPL', 'microsoft': 'MSFT', 'google': 'GOOGL', 'alphabet': 'GOOGL',\n  'amazon': 'AMZN', 'meta': 'META', 'facebook': 'META', 'nvidia': 'NVDA',\n  'tesla': 'TSLA', 'netflix': 'NFLX', 'berkshire': 'BRK-B',\n  'sp500': 'SPY', 's&p 500': 'SPY', 's&p': 'SPY', 'sp 500': 'SPY',\n  'nasdaq': 'QQQ', 'dow': 'DIA', 'dow jones': 'DIA', 'russell': 'IWM',\n  'qqq': 'QQQ', 'spy': 'SPY', 'dia': 'DIA', 'iwm': 'IWM',\n  'gold': 'GLD', 'silver': 'SLV', 'oil': 'USO', 'bitcoin': 'BTC-USD',\n  'vix': '^VIX', 'volatility': '^VIX',\n  'jpmorgan': 'JPM', 'jp morgan': 'JPM', 'goldman': 'GS', 'morgan stanley': 'MS',\n  'visa': 'V', 'mastercard': 'MA', 'paypal': 'PYPL',\n  'johnson': 'JNJ', 'pfizer': 'PFE', 'unitedhealth': 'UNH',\n  'exxon': 'XOM', 'chevron': 'CVX'\n};\n\n// Extract explicit tickers (uppercase 1-5 letter sequences)\nconst explicitTickers = (question.match(/\\b([A-Z]{1,5})\\b/g) || []);\n\n// Extract from name map\nconst mappedTickers = [];\nfor (const [name, ticker] of Object.entries(nameMap)) {\n  if (question.includes(name)) mappedTickers.push(ticker);\n}\n\n// Combine, deduplicate, limit to 5\nconst rawQuestion = $input.first().json.body?.question || $input.first().json.question || '';\nconst allTickers = [...new Set([\n  ...mappedTickers,\n  ...(rawQuestion.match(/\\b([A-Z]{1,5})\\b/g) || [])\n])].slice(0, 5);\n\nconst tickers = allTickers.length > 0 ? allTickers : ['SPY']; // default to SPY if nothing found\nconsole.log('Tickers to fetch:', tickers);\n\nreturn [{ json: { tickers, question: rawQuestion, originalQuestion: rawQuestion } }];"}},{"id":"mkt-fetch-001","name":"Fetch Market Data","type":"n8n-nodes-base.code","typeVersion":2,"position":[720,300],"parameters":{"mode":"runOnceForAllItems","jsCode":"const https = require('https');\n\nfunction fetchQuote(symbol) {\n  return new Promise((resolve) => {\n    const url = `https://query1.finance.yahoo.com/v8/finance/chart/${encodeURIComponent(symbol)}?interval=1d&range=1d`;\n    const options = {\n      hostname: 'query1.finance.yahoo.com',\n      path: `/v8/finance/chart/${encodeURIComponent(symbol)}?interval=1d&range=1d`,\n      method: 'GET',\n      headers: {\n        'User-Agent': 'Mozilla/5.0',\n        'Accept': 'application/json'\n      }\n    };\n    const req = https.request(options, (res) => {\n      let data = '';\n      res.on('data', c => data += c);\n      res.on('end', () => {\n        try {\n          const json = JSON.parse(data);\n          const meta = json?.chart?.result?.[0]?.meta;\n          if (!meta) { resolve({ symbol, error: 'No data' }); return; }\n          const price = meta.regularMarketPrice;\n          const prevClose = meta.chartPreviousClose || meta.previousClose;\n          const change = prevClose ? (price - prevClose) : 0;\n          const changePct = prevClose ? ((change / prevClose) * 100) : 0;\n          const currency = meta.currency || 'USD';\n          const marketState = meta.marketState || 'UNKNOWN';\n          resolve({\n            symbol: meta.symbol || symbol,\n            name: meta.shortName || meta.longName || symbol,\n            price: price?.toFixed(2),\n            change: change?.toFixed(2),\n            changePct: changePct?.toFixed(2),\n            currency,\n            marketState,\n            exchange: meta.exchangeName || ''\n          });\n        } catch(e) {\n          resolve({ symbol, error: e.message });\n        }\n      });\n    });\n    req.on('error', (e) => resolve({ symbol, error: e.message }));\n    req.setTimeout(10000, () => { req.destroy(); resolve({ symbol, error: 'timeout' }); });\n    req.end();\n  });\n}\n\nconst { tickers, question } = $input.first().json;\nconsole.log('Fetching quotes for:', tickers);\n\nconst quotes = await Promise.all(tickers.map(t => fetchQuote(t)));\nconsole.log('Quotes received:', JSON.stringify(quotes));\n\nreturn [{ json: { quotes, question } }];"}},{"id":"mkt-format-001","name":"Format Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[960,300],"parameters":{"jsCode":"const { quotes, question } = $input.first().json;\n\n// Build a clean readable response\nconst lines = quotes.map(q => {\n  if (q.error) return `**${q.symbol}**: data unavailable`;\n  const arrow = parseFloat(q.change) >= 0 ? '▲' : '▼';\n  const sign = parseFloat(q.change) >= 0 ? '+' : '';\n  const state = q.marketState === 'PRE' ? ' *(pre-market)*' : q.marketState === 'POST' ? ' *(after-hours)*' : '';\n  return `**${q.symbol}** (${q.name}) — $${q.price} ${arrow} ${sign}${q.change} (${sign}${q.changePct}%)${state}`;\n});\n\nconst timestamp = new Date().toLocaleTimeString('en-US', { timeZone: 'America/New_York', hour: '2-digit', minute: '2-digit' });\nconst content = lines.join('\\n') + `\\n\\n*Prices as of ~${timestamp} ET via Yahoo Finance*`;\n\nreturn [{ json: { content } }];"}},{"id":"mkt-respond-001","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1200,300],"parameters":{"respondWith":"json","responseBody":"={{ $json }}","options":{"responseCode":200}}}],"connections":{"Webhook Trigger":{"main":[[{"node":"Extract Tickers","type":"main","index":0}]]},"Extract Tickers":{"main":[[{"node":"Fetch Market Data","type":"main","index":0}]]},"Fetch Market Data":{"main":[[{"node":"Format Response","type":"main","index":0}]]},"Format Response":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"authors":"Richard Mabbun","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-03-18T19:51:32.374Z","id":472,"workflowId":"xHKy8z9XCRVRIOcR","versionId":"de9bdbef-a659-4c8f-a6bc-8eaadbe2e9d7","event":"activated","userId":"763ebc85-8160-4949-8238-c0ab68058111"}]}}