power-platform/flows/dax-tools/sharepoint-browser/flow.json
{
  "properties": {
    "connectionReferences": {},
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {"$authentication": {"defaultValue": {}, "type": "SecureObject"}, "$connections": {"defaultValue": {}, "type": "Object"}},
      "triggers": {
        "manual": {
          "type": "Request", "kind": "Skills",
          "inputs": {"schema": {"type": "object", "properties": {"siteHost": {"type": "string", "title": "SharePoint host", "description": "Tenant SharePoint host, e.g. dakona.sharepoint.com", "x-ms-content-hint": "TEXT", "x-ms-dynamically-added": true}, "sitePath": {"type": "string", "title": "Site path", "description": "Site path, e.g. /sites/DAX", "x-ms-content-hint": "TEXT", "x-ms-dynamically-added": true}, "folder": {"type": "string", "title": "Folder", "description": "Folder name within Documents library", "x-ms-content-hint": "TEXT", "x-ms-dynamically-added": true}}}},
          "description": "Browse files in a SharePoint document library via Microsoft Graph."
        }
      },
      "actions": {
        "Scope": {
          "type": "Scope",
          "actions": {
            "Get_Graph_Token": {"type": "Http", "inputs": {"method": "POST", "uri": "https://login.microsoftonline.com/d2a3c346-00f3-47dd-a53e-caa3fca74714/oauth2/v2.0/token", "headers": {"Content-Type": "application/x-www-form-urlencoded"}, "body": "grant_type=client_credentials&client_id=37fe1021-88b3-4744-aa32-b5d7e104462b&client_secret=__PP_CI_SECRET__&scope=https%3A%2F%2Fgraph.microsoft.com%2F.default"}},
            "Get_Site": {
              "type": "Http",
              "inputs": {"method": "GET", "uri": "https://graph.microsoft.com/v1.0/sites/@{coalesce(triggerBody()?['siteHost'],'dakona.sharepoint.com')}:@{coalesce(triggerBody()?['sitePath'],'/sites/DAX')}", "headers": {"Authorization": "Bearer @{body('Get_Graph_Token')?['access_token']}"}},
              "runAfter": {"Get_Graph_Token": ["Succeeded"]}
            },
            "List_Files": {
              "type": "Http",
              "inputs": {"method": "GET", "uri": "https://graph.microsoft.com/v1.0/sites/@{body('Get_Site')?['id']}/drive/root@{if(equals(triggerBody()?['folder'],null),':/children',concat(':/',triggerBody()?['folder'],':/children'))}", "headers": {"Authorization": "Bearer @{body('Get_Graph_Token')?['access_token']}"}},
              "runAfter": {"Get_Site": ["Succeeded"]}
            }
          }
        },
        "Respond_to_the_agent": {
          "type": "Response", "kind": "Skills",
          "inputs": {
            "statusCode": 200,
            "body": {"items": "@body('List_Files')?['value']", "siteId": "@body('Get_Site')?['id']", "asOf": "@utcNow()"},
            "schema": {"type": "object", "properties": {
              "items": {"title": "Items", "type": "array", "x-ms-dynamically-added": true},
              "siteId": {"title": "Site id", "type": "string", "x-ms-content-hint": "TEXT", "x-ms-dynamically-added": true},
              "asOf": {"title": "As of", "type": "string", "x-ms-content-hint": "TEXT", "x-ms-dynamically-added": true}
            }}
          },
          "runAfter": {"Scope": ["Succeeded"]}
        }
      }
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}
