n8n/workflows/document-generator.json
{
  "name": "DAX Document Generator",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "generate-document",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "d1e2f3a4-b5c6-7890-d1e2-f3a4b5c67890",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://login.microsoftonline.com/' + ($env.GRAPH_TENANT_ID || '') + '/oauth2/v2.0/token' }}",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "client_id",
              "value": "={{ $env.GRAPH_CLIENT_ID }}"
            },
            {
              "name": "client_secret",
              "value": "={{ $env.GRAPH_CLIENT_SECRET }}"
            },
            {
              "name": "scope",
              "value": "https://graph.microsoft.com/.default"
            },
            {
              "name": "grant_type",
              "value": "client_credentials"
            }
          ]
        },
        "options": {}
      },
      "id": "a2b3c4d5-e6f7-8901-a2b3-c4d5e6f78901",
      "name": "Get OAuth Token",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        470,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ 'https://graph.microsoft.com/v1.0/sites/' + ($env.GRAPH_SITE_ID || '') + '/drive/root:/DAX Templates/ICP-Quarterly-Review-TEMPLATE.docx' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Get OAuth Token').first().json.access_token }}"
            }
          ]
        },
        "options": {}
      },
      "id": "f1a2b3c4-d5e6-7890-f1a2-b3c4d5e67890",
      "name": "Get Download URL",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        690,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const JSZip = require('jszip');\nconst https = require('https');\nconst data = $('Webhook').first().json.body;\n\n// Get pre-authenticated download URL from Graph API metadata\nconst downloadUrl = $('Get Download URL').first().json['@microsoft.graph.downloadUrl'];\nconsole.log('Download URL obtained, fetching template...');\n\n// Download template directly via https \u2014 bypasses n8n binary data mode entirely\nconst templateBuffer = await new Promise((resolve, reject) => {\n  https.get(downloadUrl, (res) => {\n    if (res.statusCode >= 300 && res.statusCode < 400 && res.headers.location) {\n      https.get(res.headers.location, (redirectRes) => {\n        const chunks = [];\n        redirectRes.on('data', chunk => chunks.push(chunk));\n        redirectRes.on('end', () => resolve(Buffer.concat(chunks)));\n        redirectRes.on('error', reject);\n      }).on('error', reject);\n      return;\n    }\n    const chunks = [];\n    res.on('data', chunk => chunks.push(chunk));\n    res.on('end', () => resolve(Buffer.concat(chunks)));\n    res.on('error', reject);\n  }).on('error', reject);\n});\nconsole.log('Template buffer: ' + templateBuffer.length + ' bytes');\n\nif (templateBuffer.length < 1000) {\n  throw new Error('Template too small (' + templateBuffer.length + ' bytes). Expected ~15kB docx file.');\n}\n\nconst zip = await JSZip.loadAsync(templateBuffer);\nlet xml = await zip.file('word/document.xml').async('string');\n\n// Merge split XML runs within each paragraph that contains {{placeholders}}.\n// Word splits text like \"{{PORTFOLIO_VALUE}}\" across multiple <w:r> elements\n// with varying <w:rPr> run properties \u2014 a simple regex can't catch all splits.\n// Strategy: for each <w:p>, concatenate all <w:t> text; if it contains \"{{\",\n// put the merged text into the first <w:t> and empty the rest.\nxml = xml.replace(/<w:p\\b[^>]*>[\\s\\S]*?<\\/w:p>/g, (para) => {\n  const texts = [];\n  para.replace(/<w:t[^>]*>([\\s\\S]*?)<\\/w:t>/g, (_, t) => texts.push(t));\n  const merged = texts.join('');\n  if (!merged.includes('{{')) return para;\n  let isFirst = true;\n  return para.replace(/<w:t[^>]*>[\\s\\S]*?<\\/w:t>/g, () => {\n    if (isFirst) { isFirst = false; return '<w:t xml:space=\"preserve\">' + merged + '</w:t>'; }\n    return '<w:t></w:t>';\n  });\n});\n\nconst replacements = {\n  '{{FIRM_NAME}}': data.firmName || '',\n  '{{CLIENT_NAME}}': data.clientName || '',\n  '{{REPORT_PERIOD}}': data.reportPeriod || '',\n  '{{REPORT_DATE}}': data.reportDate || '',\n  '{{ADVISOR_NAME}}': data.advisorName || '',\n  '{{MEETING_DATE}}': data.meetingDate || '',\n  '{{MEETING_LOCATION}}': data.meetingLocation || '',\n  '{{ATTENDEES}}': data.attendees || '',\n  '{{MEETING_DURATION}}': data.meetingDuration || '',\n  '{{DISCUSSION_POINT_1}}': data.discussionPoint1 || '',\n  '{{DISCUSSION_POINT_2}}': data.discussionPoint2 || '',\n  '{{DISCUSSION_POINT_3}}': data.discussionPoint3 || '',\n  '{{ADVISOR_NOTES}}': data.advisorNotes || '',\n  '{{PORTFOLIO_VALUE}}': data.portfolioValue || '',\n  '{{YTD_RETURN}}': data.ytdReturn || '',\n  '{{BENCHMARK_RETURN}}': data.benchmarkReturn || '',\n  '{{VS_BENCHMARK}}': data.vsBenchmark || '',\n  '{{GOAL_1}}': data.goal1 || '',\n  '{{GOAL_2}}': data.goal2 || '',\n  '{{GOAL_3}}': data.goal3 || '',\n  '{{GOALS_PROGRESS_NOTES}}': data.goalsProgressNotes || '',\n  '{{ACTION_1}}': data.action1 || '',\n  '{{ACTION_1_OWNER}}': data.action1Owner || '',\n  '{{ACTION_1_DUE}}': data.action1Due || '',\n  '{{ACTION_2}}': data.action2 || '',\n  '{{ACTION_2_OWNER}}': data.action2Owner || '',\n  '{{ACTION_2_DUE}}': data.action2Due || '',\n  '{{ACTION_3}}': data.action3 || '',\n  '{{ACTION_3_OWNER}}': data.action3Owner || '',\n  '{{ACTION_3_DUE}}': data.action3Due || '',\n  '{{NEXT_MEETING_DATE}}': data.nextMeetingDate || '',\n  '{{NEXT_MEETING_AGENDA}}': data.nextMeetingAgenda || '',\n  '{{ACCOUNT_NUMBER}}': data.accountNumber || '',\n  '{{ACCOUNT_TYPE}}': data.accountType || '',\n  '{{RISK_PROFILE}}': data.riskProfile || '',\n};\n\n// Replace placeholders using function form to avoid $ interpretation in values\n// (e.g. \"$2,450,000\" \u2014 \"$2\" would be treated as a backreference with .replace(str, str))\nfor (const [key, value] of Object.entries(replacements)) {\n  const regex = new RegExp(key.replace(/[{}]/g, '\\\\$&'), 'g');\n  const before = xml;\n  xml = xml.replace(regex, () => value);\n  if (xml === before) {\n    console.log('PLACEHOLDER NOT FOUND in template: ' + key);\n  } else {\n    console.log('Replaced: ' + key);\n  }\n}\n\nzip.file('word/document.xml', xml);\nconst outputBuffer = await zip.generateAsync({type: 'nodebuffer', compression: 'DEFLATE'});\n\nconst fileName = (data.clientName || 'Report') + '-' + (data.reportPeriod || 'Report') + '.docx';\nconsole.log('Output: ' + outputBuffer.length + ' bytes -> ' + fileName);\n\nreturn [{\n  binary: {\n    data: {\n      data: outputBuffer.toString('base64'),\n      mimeType: 'application/vnd.openxmlformats-officedocument.wordprocessingml.document',\n      fileName: fileName,\n      fileExtension: 'docx'\n    }\n  },\n  json: { fileName: fileName }\n}];"
      },
      "id": "b3c4d5e6-f7a8-9012-b3c4-d5e6f7a89012",
      "name": "Fill Placeholders",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        910,
        300
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ 'https://graph.microsoft.com/v1.0/sites/' + ($env.GRAPH_SITE_ID || '') + '/drive/root:/DAX Reports/' + $json.fileName + ':/content' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Get OAuth Token').first().json.access_token }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {}
      },
      "id": "c4d5e6f7-a8b9-0123-c4d5-e6f7a8b90123",
      "name": "Upload to SharePoint",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1130,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: true, webUrl: $json.webUrl, fileName: $json.name, driveItemId: $json.id, size: $json.size } }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "e5f6a7b8-c9d0-1234-e5f6-a7b8c9d01234",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1350,
        300
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Get OAuth Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get OAuth Token": {
      "main": [
        [
          {
            "node": "Get Download URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Download URL": {
      "main": [
        [
          {
            "node": "Fill Placeholders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fill Placeholders": {
      "main": [
        [
          {
            "node": "Upload to SharePoint",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to SharePoint": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": false
  }
}
