clients/chosen-agency/make-blueprints/render_checker_blueprint.json
{
  "name": "Chosen Agency — Render Checker",
  "flow": [
    {
      "id": 1,
      "module": "google-sheets:filterRows",
      "version": 2,
      "parameters": { "__IMTCONN__": 4472711 },
      "mapper": {
        "from": "drive",
        "limit": "10",
        "filter": [[{"a": "A", "b": "Rendering", "o": "text:equal"}]],
        "sheetId": "Queue",
        "sortOrder": "asc",
        "spreadsheetId": "1reHZpPcnGy2PTXTqKTdR-otnbqEeRfDkhG3dR-yfHWo",
        "tableFirstRow": "A1:BZ1",
        "includesHeaders": true,
        "valueRenderOption": "FORMATTED_VALUE",
        "dateTimeRenderOption": "FORMATTED_STRING"
      },
      "metadata": { "designer": { "x": 0, "y": 0, "name": "Trigger: Rendering rows" } }
    },
    {
      "id": 2,
      "module": "http:ActionSendData",
      "version": 3,
      "mapper": {
        "ca": "",
        "qs": [],
        "url": "https://api.heygen.com/v1/video_status.get?video_id={{1.`Render Job ID`}}",
        "data": "",
        "gzip": true,
        "method": "get",
        "headers": [
          { "name": "X-Api-Key", "value": "sk_V2_hgu_kXkUIXPwY3z_U73Yx4S4ZfTLJ7lQomYTEHkB3zT49Ld9" }
        ],
        "timeout": "30",
        "useMtls": false,
        "authPass": "",
        "authUser": "",
        "bodyType": "raw",
        "contentType": "",
        "serializeUrl": false,
        "shareCookies": false,
        "parseResponse": true,
        "followRedirect": true,
        "useQuerystring": false,
        "followAllRedirects": false,
        "rejectUnauthorized": true
      },
      "metadata": { "designer": { "x": 300, "y": 0, "name": "HeyGen: Check render status" } }
    },
    {
      "id": 3,
      "module": "builtin:BasicRouter",
      "version": 1,
      "routes": [
        {
          "flow": [
            {
              "id": 4,
              "module": "google-sheets:updateRow",
              "version": 2,
              "filter": {
                "name": "Completed",
                "conditions": [[{"a": "{{2.data.data.status}}", "b": "completed", "o": "text:equal"}]]
              },
              "parameters": { "__IMTCONN__": 4472711 },
              "mapper": {
                "from": "drive",
                "mode": "select",
                "values": {
                  "Status": "Done",
                  "Raw Video Link": "{{2.data.data.video_url}}",
                  "Last Updated": "{{formatDate(now; \"YYYY-MM-DD HH:mm:ss\")}}"
                },
                "sheetId": "Queue",
                "sheetName": "Queue",
                "rowNumber": "{{1.`__ROW_NUMBER__`}}",
                "spreadsheetId": "1reHZpPcnGy2PTXTqKTdR-otnbqEeRfDkhG3dR-yfHWo",
                "tableFirstRow": "A1:AZ1",
                "includesHeaders": true,
                "useColumnHeaders": true,
                "valueInputOption": "USER_ENTERED"
              },
              "metadata": { "designer": { "x": 600, "y": -150, "name": "Status → Done + save video URL" } }
            }
          ]
        },
        {
          "flow": [
            {
              "id": 5,
              "module": "google-sheets:updateRow",
              "version": 2,
              "filter": {
                "name": "Failed",
                "conditions": [[{"a": "{{2.data.data.status}}", "b": "failed", "o": "text:equal"}]]
              },
              "parameters": { "__IMTCONN__": 4472711 },
              "mapper": {
                "from": "drive",
                "mode": "select",
                "values": {
                  "Status": "Error",
                  "Error Message": "HeyGen render failed: {{2.data.data.error.message}}",
                  "Last Updated": "{{formatDate(now; \"YYYY-MM-DD HH:mm:ss\")}}"
                },
                "sheetId": "Queue",
                "sheetName": "Queue",
                "rowNumber": "{{1.`__ROW_NUMBER__`}}",
                "spreadsheetId": "1reHZpPcnGy2PTXTqKTdR-otnbqEeRfDkhG3dR-yfHWo",
                "tableFirstRow": "A1:AZ1",
                "includesHeaders": true,
                "useColumnHeaders": true,
                "valueInputOption": "USER_ENTERED"
              },
              "metadata": { "designer": { "x": 600, "y": 150, "name": "Status → Error + save error msg" } }
            }
          ]
        }
      ],
      "metadata": { "designer": { "x": 450, "y": 0, "name": "Router: Completed / Failed" } }
    }
  ],
  "metadata": {
    "instant": false,
    "version": 1,
    "scenario": {
      "roundtrips": 1,
      "maxErrors": 3,
      "autoCommit": true,
      "autoCommitTriggerLast": true,
      "sequential": true,
      "confidential": false,
      "dataloss": false,
      "dlq": false,
      "freshVariables": false
    },
    "designer": { "orphans": [] }
  }
}
