power-platform/flows/dax-tools/research-write/flow.json
{
  "properties": {
    "connectionReferences": {},
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        }
      },
      "triggers": {
        "manual": {
          "type": "Request",
          "kind": "Skills",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "prompt": {
                  "type": "string",
                  "title": "Writing prompt",
                  "description": "The writing/research task \u2014 what to write, audience, length, style.",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                },
                "wordCount": {
                  "type": "integer",
                  "title": "Target word count",
                  "description": "Target word count, default 1000",
                  "x-ms-dynamically-added": true
                },
                "filename": {
                  "type": "string",
                  "title": "Filename (optional)",
                  "description": "Filename without extension. Defaults to DAX-Generated-{timestamp}.",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                }
              },
              "required": [
                "prompt"
              ]
            }
          },
          "description": "Generates long-form written content (essay, report, letter, memo, summary, article, analysis, plan) using Azure OpenAI gpt-4o."
        }
      },
      "actions": {
        "Scope": {
          "type": "Scope",
          "actions": {
            "Call_Azure_OpenAI": {
              "type": "Http",
              "inputs": {
                "method": "POST",
                "uri": "https://api.openai.com/v1/chat/completions",
                "headers": {
                  "Content-Type": "application/json",
                  "Authorization": "Bearer __OPENAI_API_KEY__"
                },
                "body": {
                  "model": "gpt-4o",
                  "messages": [
                    {
                      "role": "system",
                      "content": "You are DAX, a writing assistant for an RIA firm. Produce well-structured, polished written content. Write in plain markdown. Aim for the target word count if specified."
                    },
                    {
                      "role": "user",
                      "content": "@{triggerBody()?['prompt']}\n\nTarget word count: @{coalesce(triggerBody()?['wordCount'], 1000)}"
                    }
                  ],
                  "temperature": 0.4,
                  "max_tokens": 4000
                }
              }
            },
            "Get_Graph_Token": {
              "type": "Http",
              "inputs": {
                "method": "POST",
                "uri": "https://login.microsoftonline.com//oauth2/v2.0/token",
                "headers": {
                  "Content-Type": "application/x-www-form-urlencoded"
                },
                "body": "grant_type=client_credentials&client_id=&client_secret=__PP_CI_SECRET__&scope=https%3A%2F%2Fgraph.microsoft.com%2F.default"
              },
              "runAfter": {
                "Call_Azure_OpenAI": [
                  "Succeeded"
                ]
              }
            },
            "Save_To_SharePoint": {
              "type": "Http",
              "inputs": {
                "method": "PUT",
                "uri": "https://graph.microsoft.com/v1.0/sites/root/drive/root:/DAX Documents/@{coalesce(triggerBody()?['filename'],concat('DAX-Generated-',utcNow('yyyyMMdd-HHmmss')))}.md:/content",
                "headers": {
                  "Authorization": "Bearer @{body('Get_Graph_Token')?['access_token']}",
                  "Content-Type": "text/markdown"
                },
                "body": "@{body('Call_Azure_OpenAI')?['choices']?[0]?['message']?['content']}"
              },
              "runAfter": {
                "Get_Graph_Token": [
                  "Succeeded"
                ]
              }
            }
          }
        },
        "Respond_to_the_agent": {
          "type": "Response",
          "kind": "Skills",
          "inputs": {
            "statusCode": 200,
            "body": {
              "prompt": "@{triggerBody()?['prompt']}",
              "content": "@body('Call_Azure_OpenAI')?['choices']?[0]?['message']?['content']",
              "savedTo": "@body('Save_To_SharePoint')?['webUrl']",
              "filename": "@body('Save_To_SharePoint')?['name']",
              "model": "gpt-4o",
              "asOf": "@utcNow()"
            },
            "schema": {
              "type": "object",
              "properties": {
                "prompt": {
                  "title": "Prompt",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                },
                "content": {
                  "title": "Content",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                },
                "savedTo": {
                  "title": "SharePoint URL",
                  "description": "Web URL of the saved markdown file",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                },
                "filename": {
                  "title": "Filename",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                },
                "model": {
                  "title": "Model",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                },
                "asOf": {
                  "title": "As of",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                }
              }
            }
          },
          "runAfter": {
            "Scope": [
              "Succeeded"
            ]
          }
        }
      }
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}